body {
  background-color: black;
  color: #466fccff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: xx-large;
  font-family: Wendy Neue;
  letter-spacing: 0.4em;
  transition: background-color 0.5s ease, color 0.5s ease;
}

input {
  background-color: #466fccff;
  border: 2px solid #466fccff;
  color: black;
  padding: 0.5rem;
  font-family: Robot;
  font-size: large;
  transition: background-color 0.5s ease, color 0.5s ease;
}

li {
  list-style-type: none;
  padding-left: 0;
  padding: 0.5rem;
}

li::marker {
  color: green;
  animation: rotate 2s linear infinite;
  content: "$"; /* Set the dollar sign as the marker */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Starting point */
  }
  50% {
    transform: rotate(10deg);
  }100%{
    transform: matrix(0deg); /* Ending point */
  }
}

button {
  background-color: #466fccff;
  color: black;
  border: 2px solid #466fccff;
  cursor: pointer;
  padding: 0.5rem;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#countdown {
  font-size: 50px;
  transition: color 0.5s ease, font-size 0.5s ease;
  color: #466fccff;
}

.todo-container {
  text-align: center;
}
@media (max-width: 768px) {
  .todo-container {
    width: 90%;
    height: 100vh;
    text-wrap: wrap;
  }
}
