
.footer{
background-image: url(img/footerBg.png);
background-size: cover;
background-repeat: no-repeat;
    width: 80%;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: auto;
}
.footerElements{
    width: 85%;
    display: flex  ;
    gap: 30px;
    justify-content: space-around;
}
.footerCard{
    margin: auto;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 17rem;
}
.footerIcons{
    background-color: rgb(74, 150, 225);
    height: 8rem;
    width: 8rem;
    margin-top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}